# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build / dist
# =========================
dist/
build/
out/

# =========================
# Vite
# =========================
dist-ssr/

# =========================
# Environment variables
# =========================
.env

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor
# =========================
.vscode/
.idea/

# =========================
# Electron cache
# =========================
.cache/

# =========================
# Archivos pesados / binarios
# =========================
*.exe
*.dll
*.assets
*.resS
*.resource